<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.speakeasy.watsonbarassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BarAssistant"
        android:allowBackup="true"
        android:icon="@mipmap/ic_old_fashioned"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_old_fashioned"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name=".activity.MainMenu"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activity.RecipeDetail" />
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserProfile" />
        <activity android:name=".activity.RecipeCollection" />
        <activity android:name=".activity.VisionActivity" />
        <activity android:name=".activity.ShoppingCart" />
        <activity android:name=".activity.FriendActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.speakeasy.watsonbarassistant.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name=".activity.UserInfoActivity" />
    </application>

</manifest>